################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/PythonPractice/PythonPractice.sln
/.vs/Practice/v16/.suo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/PythonPractice/.vs/PythonPractice/v16/.suo
/PythonPractice/PythonPractice.pyproj
/PythonPractice/PythonPractice2/.vs/PythonPractice2/v16/.suo
/PythonPractice/PythonPractice2/PythonPractice2.pyproj
/PythonPractice/PythonPractice2/PythonPractice2.sln
/PythonPractice/Tkinterお試し/.vs/Tkinterお試し/v16/.suo
/PythonPractice/PythonForExcel/PythonForExcel.sln
/PythonPractice/PythonForExcel/PythonForExcel.pyproj
/PythonPractice/PythonForExcel/.vs/PythonForExcel/v16/.suo
/PythonPractice/PythonForExcel/openpyxl_test.xlsx
/PythonPractice/PythonPractice2/test.txt
/PythonPractice/PythonPractice2/20200606.xlsx
/PythonPractice/PythonPractice2/20200606.docx
/PythonPractice/PythonPractice2/.xlsx
/PythonPractice/PythonPractice2/.vs/PythonPractice2/v16/TestStore/0/testlog.manifest
/PythonPractice/PythonPractice2/.vs/PythonPractice2/v16/TestStore/0/000.testlog
/PythonPractice/PythonPractice2/TESTCSV.txt
/PythonPractice/PythonPractice2/TESTCSV.csv
/PythonPractice/PythonApplication202007/.vs/PythonApplication202007/v16/.suo
/PythonPractice/PythonApplication202007/PythonApplication202007.sln
/PythonPractice/PythonApplication202007/PythonApplication202007.pyproj
PythonPractice/PythonApplication1/PythonApplication1.pyproj
PythonPractice/PythonApplication1/PythonApplication1.sln
PythonPractice/PythonApplication1/.vs/PythonApplication1/v16/.suo
